
.lampadinaSpenta {
height: 500px;
width: 500px;
background-size: contain;
background-repeat: no-repeat;
background-image: url(../img/white_lamp.png);
}

.lampadinaAccesa {
height: 500px;
width: 500px;
background-size: contain;
background-repeat: no-repeat;
background-image: url(../img/yellow_lamp.png);
}
